<%- include ("header") -%> 

<div class="container">
       <div class="items showcase">
           <div class="item heading">
            <i style="color: #943855;" class="fas fa-viruses fa-4x faa-tada animated icon-1"></i>
            <h1>Covid-19 <span>Tracker</span></h1>
            <i style="color: #3e64ff;" class="fas fa-hands-wash fa-4x faa-wrench animated icon-2"></i>
           </div>
           <div class="item content">
                <div class="item text">
                    <div class="text-1"><h2><i class="far fa-dot-circle faa-flash animated faa-slow"></i> Live</h2></div>
                    <div class="text-1 globally">
                    <h1 style="color: #6c7b95; text-decoration: underline;">GLOBALLY</h1>
                    <i style="color: green;" class="fas fa-globe-asia fa-3x faa-float animated faa-fast"></i>
                    </div>
                </div>
                <div class="item confirmed">
                    <h1 class="l-heading">Confirmed</h1>
                    <h2 class="m-heading"><%= AllData.globalRequest.cases %> </h2>
                    <i class="far fa-check-circle fa-2x faa-bounce animated"></i>
                </div>
                <div class="item recovered">
                    <h1 class="l-heading">Recovered</h1>
                    <h2 class="m-heading"><%= AllData.globalRequest.recovered %></h2>
                    <i class="fas fa-hand-holding-medical fa-2x faa-pulse animated faa-fast"></i>
                </div>
                <div class="item death">
                    <h1 class="l-heading">Deaths</h1>
                    <h2 class="m-heading"><%= AllData.globalRequest.deaths %></h2>
                    <i class="fas fa-skull-crossbones fa-2x faa-shake animated"></i>
                </div>
           </div>
        </div>
            
        <div class="items table">
            <div style="margin-bottom: 0;" class="item header">
                <div class="item-1 input">
                    <i class="fas fa-search fa-3x faa-horizontal animated icon"></i>
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Countries.." title="Type in a name">
                </div>
                <h1 class="item-1 heading">Last Updated: <%= new Date(AllData.globalRequest.updated) %> <span></span></h1>
            </div>
            <table style="margin-top: 0;" id="myTable" class="item">
                <tr>
                    <th>Country</th>
                    <th>Total Cases</th>
                    <th>Today Cases</th>
                    <th>Total Deaths</th>
                    <th>Today Deaths</th>
                    <th>Total Recovered</th>
                    <th>Critical</th>
                </tr>
                <% AllData.countriesRequest.forEach(data => { %>
                    <tr>
                        <td><img src="<%= data.countryInfo.flag %>"> <%= data.country %></td>
                        <td><%= data.cases %></td>
                        <td><%= data.todayCases %></td>
                        <td><%= data.deaths %></td>
                        <td><%= data.todayDeaths %></td>
                        <td><%= data.recovered %></td>
                        <td><%= data.critical %></td>
                    </tr> 
                <% }) %>
            </table>
        </div>
</div>

<script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }
    </script>

<%- include ("footer") -%> 